:host {
  @apply block w-full;

  ion-segment {
    @apply bg-black/10 p-1 rounded-md;
  }

  ion-segment-button {
    ion-label {
      @apply text-white/50;
    }

    &.ios {
      &::part(indicator) {
        transition: all 0.2s ease-out;
      }

      &::part(indicator-background) {
        @apply bg-white/20 rounded-md shadow-none transition-all;
      }
    }

    &.md {
      &::part(native) {
        transition: all 0.2s ease-out;
      }

      &::part(indicator-background) {
        @apply hidden;
      }

      &.segment-button-checked {
        &::part(native) {
          @apply bg-white/20 rounded-md;
        }

        ion-label {
          @apply text-white;
        }
      }
    }
  }

  swiper-container {
    &#days {
      &::before {
        @apply w-[50px] absolute top-0 left-0 h-full z-10 bg-gradient-to-r from-primary to-transparent;
        content: "";
      }

      &::after {
        @apply w-[50px] absolute top-0 right-0 h-full z-10 bg-gradient-to-r from-transparent to-primary;
        content: "";
      }

      swiper-slide {
        margin-right: 0 !important;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &::part(wrapper) {
        @apply flex gap-3 relative;
      }

      &::part(container) {
        overflow: visible;
      }
    }
  }
}
